.layout {
	text-align: center;
}
body {
	background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}
.gifBlock {
	display: inline-block;
	padding: 10px;
	background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(000, 000, 000, 0.4);
}
p {
	font-size: 20px;
	font-weight: bold;
	color: white;
}
